nz-content {
    color: #fff;
    min-height: 120px;
    line-height: 120px;
    margin: 8px;
    padding: 8px;
}


.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }